extends ../layouts/base
block head
  title About G. C. Marty
block content
  h1 About G. C. Marty
  p Guillaume Cedric has been working in the web industry for more than a decade.
  p He's passionate about web technologies and contributes regularly to open sources projects, which list is available at his Github account page.
  p He's also fascinated by video games, animation, and, as a Japanese speaker, foreign languages.
