extends ../layouts/base

block head
  title About Guillaume C. Marty
  meta(name="description", content="A quick note about Guillaume, the author of this blog.")
  base(href="http://gu.illau.me/about.html", target="_top")

block content
  h1 About Guillaume
  p Guillaume has been working in the web industry for more than a decade, and previously as a software engineer at Mozilla on the Firefox OS then Connected Devices teams.
  p He's passionate about web technologies and contributes regularly to open source projects (check his Github account).
  p He's also fascinated by video games, animation, and, as a Japanese speaker, foreign languages.
  p Find Guillaume online:
  ul
    li Twitter:&nbsp;
      a(href="https://twitter.com/g_marty") @g_marty
    li Github:&nbsp;
      a(href="https://github.com/gmarty/") gmarty
    li Linkedin:&nbsp;
      a(href="https://www.linkedin.com/in/gmarty/en") gmarty
    li Instagram:&nbsp;
      a(href="https://www.instagram.com/gcmarty/") @gcmarty
    li
      a(href="/vcf/gmarty.vcf") vCard
