extends ../layouts/base

block head
  title About G.C. Marty
  meta(name="description", content="A quick note about the author of this blog.")
  base(href="http://gu.illau.me/about.html", target="_top")

block content
  h1 About Guillaume
  p Guillaume Cedric has been working in the web industry for more than a decade.
  p He's passionate about web technologies and contributes regularly to open sources projects, which list is available at his Github account page.
  p He's also fascinated by video games, animation, and, as a Japanese speaker, foreign languages.
  p Find Guillaume online:
  ul
    li Twitter:&nbsp;
      a(href="https://twitter.com/g_marty") @g_marty
    li Github:&nbsp;
      a(href="https://github.com/gmarty/") gmarty
    li Linkedin:&nbsp;
      a(href="https://uk.linkedin.com/in/gmarty/en") gmarty
    li
      a(href="/vcf/gmarty.vcf") vCard
