extends ../layouts/base

block head
  title The web apps I maintain
  meta(name="description", content="I created some web apps and video games, check them up.")
  base(href="https://gu.illau.me/apps.html", target="_top")

block content
  h1 Web apps and video games
  p I am the creator and maintainer of some web apps and video games that you can install and play today!

  ul
    li
      h2 Kim Magikal ⭐ at Saraland ⭐
      h3 A cute retro platform game
      p Play it for free!
      p
        | You can play&nbsp;
        a(href="https://magikal.land/") Kim Magikal ⭐ at Saraland ⭐
        |  online.
      p
        a(href="https://magikal.land/")
          img(src="#{data.baseUrl}img/apps/kim-magikal-at-saraland.png", title="Kim Magikal ⭐ at Saraland ⭐", style="width:100%")
    li
      h2 Alec
      h3 Emulator for Sega Master System & Game Gear
      p It comes with some homebrew games builtin.
      p
        | You can play&nbsp;
        a(href="https://gmarty.github.io/jsSMS/alec/") Alec - Emulator for Sega
        |  online.
      p
        a(href="https://gmarty.github.io/jsSMS/alec/")
          img(src="#{data.baseUrl}img/apps/alec-sega-emulator.png", title="Alec - Emulator for Sega Master System & Game Gear", style="width:100%")
    li
      h2 Maniac Mansion Mobile
      h3 The famous point'n click game optimised for mobile
      p "Warning!! Trespassers will be horribly mutilated."
      p
        | You can play&nbsp;
        a(href="https://maniac-mansion-mobile.5apps.com/") Maniac Mansion Mobile
        |  online.
      p
        a(href="https://maniac-mansion-mobile.5apps.com/")
          img(src="#{data.baseUrl}img/apps/maniac-mansion-mobile.png", title="Maniac Mansion Mobile", style="width:100%")
      p Please note that I'm not the creator of the original game.
