extends ../layouts/base

block head
  title The web apps I maintain
  meta(name="description", content="I created some web apps, whose list is here.")
  base(href="http://gu.illau.me/apps.html", target="_top")

block content
  h1 Web apps
  p I am the creator and maintainer of some web apps that you can install and enjoy today!

  ul
    li
      h2 Alec
      h3 Emulator for Sega Master System & Game Gear
      p It comes with some indie games builtin.
      p
        | Download&nbsp;
        a(href="https://marketplace.firefox.com/app/alec/") Alec
        |  from Firefox Marketplace.
      p
        a(href="https://marketplace.firefox.com/app/alec/")
          img(src="#{data.baseUrl}img/apps/alec-sega-emulator.png", title="Alec", style="width:100%")
    li
      h2 Maniac Mansion Mobile
      h3 A point'n click game optimised for mobiles
      p "Warning!! Trespassers will be horribly mutilated."
      p
        | Download&nbsp;
        a(href="https://marketplace.firefox.com/app/maniac-mansion-mobile/") Maniac Mansion Mobile
        |  from Firefox Marketplace.
      p
        a(href="https://marketplace.firefox.com/app/maniac-mansion-mobile/")
          img(src="#{data.baseUrl}img/apps/maniac-mansion-mobile.png", title="Maniac Mansion Mobile", style="width:100%")
