extends ../layouts/base

block head
  title Talks about JavaScript
  meta(name="description", content="A list of talks I gave at conferences with videos and slides.")
  base(href="http://gu.illau.me/talks.html", target="_top")

block content
  h1 Talks about JavaScript
  p I talk at conferences, mostly technical ones. Here's a list of the most significant talks I gave lastly.

  ol
    li
      h2 Crash course in compile-to-the-web
      h3 MLOC.js 2015
      p It’s 2015. The web is omnipresent and omnipotent, and yet some vendors continue to ship proprietary formats and software.
      p But vendor lock-in doesn’t have to be a fatality. Many techniques are available to run almost anything on our beloved browser: playing video games and Flash files, reading PDF and even watching DVD!
      p In this talk, you’ll be introduced to existing compilation strategies so you can get started writing your own compiler today! Proprietary format? Compile it!
      p
        | The video for&nbsp;
        a(href="http://www.ustream.tv/recorded/64124159") Crash course in compile-to-the-web
        |  is available.
      p
        | The slides for&nbsp;
        a(href="http://gmarty.github.io/2015-06-MLOC.js/") Crash course in compile-to-the-web
        |  are available.
    li
      h2 Je viens du futur et voici comment on code en JavaScript (in French)
      h3 JavaScript Open Day
      iframe(width="100%", height="360", src="//www.youtube-nocookie.com/embed/6hrM7ePXyxs?rel=0", frameborder="0", allowfullscreen)
      p
        | The slides for&nbsp;
        a(href="http://gmarty.github.io/2015-03-JavaScript-Open-Day-1/") Je viens du futur et voici comment on code en JavaScript
        |  are available.
    li
      h2 Playing DVD in JavaScript for the sake of interoperability
      h3 JSConf US 2014
      p We have everything we need to read DVD-video discs in a browser, so why don’t we start?
      p For that purpose, I ported libdvdread and libdvdnav libraries to JavaScript so that we can parse the DVD-video info files and emulate a virtual machine.
      p But this comes with technical challenges such as browsers being bad at manipulating huge files or not supporting the codecs used in DVD (MPEG-2, AC-3…). That’s why this port comes with a server in Node.js to circumvent these limitations.
      p The resulting project is a mix of websockets, video elements, media source extensions and a lot of open source love.
      iframe(width="100%", height="360", src="//www.youtube-nocookie.com/embed/lb-8euLqfRg?rel=0", frameborder="0", allowfullscreen)
      p
        | The slides for&nbsp;
        a(href="https://gmarty.github.io/jsconf-2014-talk-play-dvd-in-js/") Playing DVD in JavaScript for the sake of interoperability
        |  are available.
    li
      h2 60 FPS Retro Gaming on Mobile
      h3 Reject.JS 2013
      p Born as an interpreter, jsSMS is now a hybrid emulator for Sega Master System and Game Gear. It makes use of static and dynamic recompilation, and falls back to a classical interpreter if required.
      p From parsing to JavaScript generation using an optimised AST, I present the different steps that makes an emulator fast.
      p The ultimate goal is to provide full speed for retro gaming on mobile browser and web app!
      iframe(width="100%", height="360", src="//www.youtube-nocookie.com/embed/Ey2TGjLTYuw?rel=0", frameborder="0", allowfullscreen)
      p
        | The slides for&nbsp;
        a(href="http://gmarty.github.io/jsSMS/Reject.JS-2013-Slides/") 60 FPS Retro Gaming on Mobile
        |  are available.
