---
type Props = {
  title: string
  class?: string
}

const { title, class: className } = Astro.props
---

<details
  class:list={className}
  class="prose dark:prose-invert block w-full max-w-none"
>
  <summary class="cursor-pointer p-3 md:p-4">{title}</summary>
  <div class="px-3 pb-3 md:px-4 md:pb-4">
    <slot />
  </div>
</details>
