---
import { Image } from 'astro:assets'
import FormattedDate from './FormattedDate.astro'
import type { CollectionEntry } from 'astro:content'
import { useTranslations } from '@/i18n'

const t = useTranslations()

type Props = {
  post: CollectionEntry<'blog'>
  class?: string
}

const {
  post: {
    data: { cover, title, date },
  },
} = Astro.props
---

<div
  class="bg-primary-100 relative h-36 overflow-hidden rounded-lg dark:bg-gray-900"
  class:list={Astro.props.class}
>
  {
    cover && (
      <Image
        src={cover}
        alt={title}
        widths={[300, 600, 1000]}
        sizes="(max-width: 767px) 100vw, 300px"
        class="absolute inset-0 z-0 h-full w-full object-cover"
        format="webp"
      />
    )
  }
  <dl>
    <dt class="sr-only">{t('components.listPostCover.publishedOn')}</dt>
    <dd
      class="absolute right-1 bottom-1 z-10 m-1 rounded-md bg-gray-950 px-2 py-0 text-sm leading-6 font-medium text-gray-50"
    >
      <FormattedDate {date} />
    </dd>
  </dl>
</div>
