<h2
  {...Astro.props}
  class="dark:text-primary-100 text-3xl leading-9 font-extrabold tracking-tight text-balance text-gray-900 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14"
>
  <slot />
</h2>
