---
import type { Page } from 'astro'
import Link from './Link.astro'
import { useTranslations } from '@/i18n'

const t = useTranslations()

type Props = {
  page: Page
}

const {
  page: {
    currentPage,
    lastPage,
    url: { prev, next },
  },
} = Astro.props
---

<div class="space-y-2 pt-6 pb-8 sm:pb-12 md:space-y-5 md:pb-20">
  <nav class="flex justify-between">
    {
      !prev && (
        <button class="cursor-auto disabled:opacity-50" disabled>
          {t('components.pagination.previous')}
        </button>
      )
    }
    {
      prev && (
        <Link href={prev} rel="prev" class="themed-link">
          {t('components.pagination.previous')}
        </Link>
      )
    }
    <span>
      {currentPage} of {lastPage}
    </span>
    {
      !next && (
        <button class="cursor-auto disabled:opacity-50" disabled>
          {t('components.pagination.next')}
        </button>
      )
    }
    {
      next && (
        <Link href={next} rel="next" class="themed-link">
          {t('components.pagination.next')}
        </Link>
      )
    }
  </nav>
</div>
