.post-head {
  border-bottom: 1px solid $grey;
  margin: 2em 0;
  padding-bottom: 5px;
  position: relative;

  a {
    text-decoration: none;
  }
}

.post-title {
  float: left;
  padding-right: 4.9em;
  margin: 5px 0;
  font-size: 1.7em;
}

.post-date, .post-reading-time {
  position: absolute;
  bottom: 30px;
  right: 0;
  font-size: 1.3em;
  color: $lightTextColor;
}

.post-reading-time {
  bottom: 5px;

  img {
    margin-right: 5px;
  }
}

.post-body {
  margin-bottom: 1.2em;
  font-family: $postFont;
  line-height: 1.65em;
}

ul.archives {
  list-style-type: none;
  padding: 0;
  -webkit-padding-start: 0;
}

.social {
  padding: .55em 0 1.4em;
}

.comments {
  margin-top: 25px;
  font-weight: bold;
  font-size: 1.2em;

  a {
    color: $lightTextColor;
    text-decoration: none;
  }

  .icon-bubbles {
    padding: 3px 15px 5px 0;
    float: left;
  }
}
