extends base

block head
  title= post.title
  if post.description
    meta(name="description", content="#{post.description}")
  base(href="https://gu.illau.me#{data.baseUrl}#{post.url}", target="_top")

block content
  mixin post(post)
  include _social
